.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title_main {
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: black;
    text-shadow: 2px 2px 4px rgba(0,0,0,5);
    margin: 100px 0;

}
.title_short {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: black;
    margin: 25px 0;
}
.text {
    font-family: Calibri, sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: black;
}
.title_image {
    filter: drop-shadow(50px 50px 10px rgba(10,0,0,0.5));
}
body {
    background-color: white;
    margin: 0;
    padding: 0;
}